@model ChangePasswordViewModel
@{
    Layout = "Components/_Layout";
    ViewData["Title"] = "Change Password";
}

@section AdminCSS
{
    <environment include="Development">
        <link href="~/Resources/SBAdmin/css/styles.css" rel="stylesheet" />
        <script src="~/Resources/SBAdmin/vendors/font-awesome/5.15.1/js/all.min.js" crossorigin="anonymous"></script>
    </environment>

    <environment include="Production">
        <link href="~/css/admin/base/styles.min.css" rel="stylesheet" />
    </environment>
}

@section AdminJS
{
    <environment include="Development">
        <script src="~/Resources/SBAdmin/vendors/jquery/3.5.1/jquery-3.5.1.slim.min.js" crossorigin="anonymous"></script>
        <script src="~/Resources/SBAdmin/vendors/bootstrap/4.5.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="~/Resources/SBAdmin/js/scripts.js"></script>
    </environment>

    <environment include="Production">
        <script src="~/js/admin/base/scripts.min.js" crossorigin="anonymous"></script>
    </environment>

}


<div class="">
    <div id="layoutAuthentication">
        <div id="layoutAuthentication_content">
            <main>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-7">
                            <div class="card shadow-lg border-0 rounded-lg mt-5">
                                <div class="card-header">
                                    <h3 class="text-center font-weight-light my-4">
                                        Change Password
                                    </h3>
                                </div>
                                <div class="card-body">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <form asp-action="ChangePassword" method="post">
                                        <div class="form-row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="small mb-1"
                                                           asp-for="OldPassword">
                                                    </label>
                                                    <input class="form-control py-4"
                                                           asp-for="OldPassword"
                                                           required="required"
                                                           placeholder="Enter old password" />
                                                    <span asp-validation-for="OldPassword"
                                                          class="text-danger">
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="small mb-1"
                                                           asp-for="NewPassword">
                                                    </label>
                                                    <input class="form-control py-4"
                                                           asp-for="NewPassword"
                                                           required="required"
                                                           placeholder="Enter new password" />
                                                    <span asp-validation-for="NewPassword"
                                                          class="text-danger">
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="small mb-1"
                                                           asp-for="ConfirmNewPassword">
                                                    </label>
                                                    <input class="form-control py-4"
                                                           asp-for="ConfirmNewPassword"
                                                           required="required"
                                                           placeholder="Confirm new password" />
                                                    <span asp-validation-for="ConfirmNewPassword"
                                                          class="text-danger">
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group mt-4 mb-0">
                                            <input type="submit" class="btn btn-primary btn-block" value="Update" />
                                        </div>
                                    </form>
                                </div>
                                <div class="card-footer text-center">
                                    <div class="small">
                                        <span class="text-success">@ViewData["message"]</span>
                                    </div>
                                    <div class="small">
                                        <a asp-controller="Admin" asp-action="Index">
                                            Back to Admin
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
        <div id="layoutAuthentication_footer">
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy; Your Website 2020</div>
                        <div>
                            <a href="#">Privacy Policy</a>
                            &middot;
                            <a href="#">Terms &amp; Conditions</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</div>
