<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="Put description here" />
    <meta name="author" content="Put author here" />
    <title>@ViewData["Title"]</title>

    @* CSS section *@
    <environment include="Development">
        <link href="~/Resources/SBAdmin/css/styles.css" rel="stylesheet" />
        @RenderSection("Styles", required: false)
    </environment>
    <environment include="Production">
        <link href="~/css/admin/full/styles.min.css" rel="stylesheet">
    </environment>
</head>
<body class="sb-nav-fixed">

    @* _Header *@
    <partial name="_Header.cshtml" />

    <div id="layoutSidenav">

        <div id="layoutSidenav_nav">
            @* _SideBar *@
            <partial name="_SideBar.cshtml" />
        </div>
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid">
                    <h1 class="mt-4">Dashboard</h1>

                    @RenderBody()

                </div>
            </main>
            <footer class="py-4 bg-light mt-auto">
                @* Nav *@
                <div class="container-fluid">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy; Your Website 2020</div>
                        <div>
                            <a href="#">Privacy Policy</a>
                            &middot;
                            <a href="#">Terms &amp; Conditions</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    @* Scripts section *@
    <environment include="Development">
        <script src="~/Resources/SBAdmin/vendors/font-awesome/5.15.1/js/all.min.js" crossorigin="anonymous"></script>
        <script src="~/Resources/SBAdmin/vendors/jquery/3.5.1/jquery-3.5.1.slim.min.js" crossorigin="anonymous"></script>
        <script src="~/Resources/SBAdmin/vendors/bootstrap/4.5.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="~/Resources/SBAdmin/js/scripts.js"></script>
        @RenderSection("Scripts", required: false)
    </environment>
    <environment include="Production">
        <script src="~/js/admin/full/scripts.min.js" crossorigin="anonymous"></script>
    </environment>
</body>
</html>