<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@ViewData["Title"]</title>

    @* CSS section *@
    <environment include="Development">

    </environment>
    <environment include="Production">

    </environment>
</head>
<body>
    <div class="container">
        @RenderBody()
    </div>

    @* Scripts section *@
    <environment include="Development">

    </environment>
    <environment include="Production">

    </environment>
    @RenderSection("Scripts", required: false)
</body>
</html>