@{
    Layout = "Admin/_Layout";
    ViewData["Title"] = "Dashboard - SB Admin";
}

<div>
    @* _IconCards *@
    <partial name="Admin/_IconCards" />

    @* _AreaChart *@
    <partial name="Admin/_AreaChart" />

    @* _DataTables *@
    <partial name="Admin/_DataTables" />
</div>